.lightpink {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightpink;

}

#Bigblue {
    color: blue;
    font-size: 36px;
}

.lightpink#bigpink {
    font-size: 24px; 
}

#lightgreen {
    font-weight: 600;
    font-size: 24px;
    background-color: rgb(27, 173, 27);

}
.Button {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

 .Alpha{
    background-color: black;
    color: white;
}
.two {
    background-color: yellow;
    color: royalblue;
}

 .avatar.proportioned {
    width: 300px;
    height: auto;
}

 .avatar.distorted{
    width: 200px;
    height: 400px;
}